# Environment Configuration
CI_ENV = development

# Base URL (optional, leave blank for auto-detection)
APP_BASE_URL = 

# Database Configuration
DB_HOSTNAME = localhost
DB_USERNAME = root
DB_PASSWORD = 
DB_DATABASE = pmn_kalibrasi
DB_DRIVER   = mysqli
